#!/bin/bash

# download hashtopolis client from server
wget http://${hashtopolis_ip}/agents.php?download=2 -O hashtopolis.zip
mkdir hashtopolis
unzip hashtopolis.zip -d hashtopolis/

# create and populate initial config
tee config.json << SWAG
{
  "url": "http://${hashtopolis_ip}/api/server.php",
  "voucher": "${voucher_name}"
}
SWAG

# start the hashtopolis agent in the background
screen -S hashtopolis -d -m python3 hashtopolis/ &

# force terraform to slow it's roll
sleep 5