#!/bin/bash
sudo add-apt-repository ppa:graphics-drivers/ppa -y
sudo apt-get update
sudo apt-get install -y unzip p7zip-full linux-image-extra-virtual nvidia-390 nvidia-libopencl1-390 nvidia-opencl-icd-390 python-pip build-essential linux-headers-$$(uname -r) 


# install python prerequisites
sudo pip install requests

# indicate that user-data is finished
touch /tmp/finished-user-data

# reboot the machine
(sleep 5 && sudo reboot)&

